crhelper==2.0.11
requests==2.31.0
## urllib3 should match Lambda runtime
urllib3==1.26.9
## The following requirements were added by pip freeze:
certifi==2023.07.22
charset-normalizer==2.1.1
idna==3.4
